<p id="notice"><%= notice %></p>

<p>
  <b>Eventid:</b>
  <%= @vote.eventid %>
</p>

<p>
  <b>Studentid:</b>
  <%= @vote.studentid %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote.vote %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
