<h1>Meetup Groups</h1>
<hr>
<strong>Title</strong>
<%= @group.title %>
<br />
<strong>Description</strong>
<%= @group.description %>
<br />
<strong>City</strong>
<%= @group.city %>
<br />
<strong>Zip Code</strong>
<%= @group.zip %>
<br />
<strong>URL name</strong>
<%= @group.groupurlname %>
<br />
<strong>Topics</strong>
<%= @group.topics %>
<br />
<hr>

